<mat-card>
  <mat-card-title>{{time}}</mat-card-title>
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="start()" [disabled] ="!disabled">Start</button>
    <button mat-raised-button color="warn" (click)="stop()" [disabled] ="disabled">Stop</button>
    <button mat-raised-button color="accent" (click)="wait()" [disabled] ="disabled">Wait</button>
    <button mat-raised-button color="accent" (click)="reset()" [disabled] ="disabled">Reset</button>

  </mat-card-actions>
</mat-card>
